version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        API_URL: "http://api.tinybrains.web.id:8004/api"
        VITE_STORAGE_HASH_KEY: "hashkey2025"
    container_name: tinybrains
    restart: always
    ports:
      - "80:80"