name: Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          timeout: 30m
          command_timeout: 30m
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            # folder
            cd tinybrains
            
            # Tarik kodingan terbaru
            git pull origin main
            
            # Build ulang Container
            docker compose up -d --build
            
            # Hapus image bekas
            docker image prune -f